*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.settings
.classpath
.project

/TAGS
/target-eclipse/
/TODO.txt
/longevity_test.db
/longevity_main.db

/project/.ensime
/.ensime
/ensime.sbt
/.ensime_cache/
/project/.ensime_cache/
/longevity_migrations_test_basic.db
/longevity_migrations_test_failures.db
/longevity_migrations_test_poly.db
