*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

/TAGS
/target-eclipse/
/TODO.txt
/.classpath
/.project
/.cache
/emblem/.cache
/emblem/.classpath
/emblem/.gitignore
/emblem/.project
/longevity_test.db
/longevity_main.db
