
div.longevity-meta
{
    border: solid 1px;
    background-color: #C2E0FF;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 0px 10px 5px 10px;

    margin-left: 5em;
    margin-right: -1em;
    margin-bottom: 1em;
}

p.longevity-meta-header
{
    text-align: center;
    font-weight: bold;
    padding-bottom: 0px;
    margin-bottom: 0px;
}