<div style="display: flex;
            justify-content: space-between;
            text-align: center;
            margin-left: 3em;
            margin-right: 3em;">

<div style="min-width: 10em">
{% if prevTitle %}
  prev: <a href="{{ prevLink }}">{{ prevTitle }}</a>
{% endif %}
</div>

<div style="min-width: 10em">
{% if upTitle %}
up: <a href="{{ upLink }}">{{ upTitle }}</a>
{% endif %}
</div>

<div style="min-width: 10em">
{% if nextTitle %}
next: <a href="{{ nextLink }}">{{ nextTitle }}</a>
{% endif %}
</div>

</div>
